body {
	background-color: rgb(108, 196, 209);
}

.posts .main-img img {
	display: block;
	margin: auto;
    width: 40%;
    border: 3px solid rgb(119, 113, 113);
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-bottom: 20px;
}



.jumbotron {
    background-color: rgb(70, 87, 88);
    padding: 3%;
    font-family: "Optima";
    text-align: center;
    vertical-align: middle;
    color: white;

}

.postButton{
	padding: 5%;
    font-family: "Optima";
    /*background-color: grey;
    */
}

.imgcontainer img{
	display: block;
	margin: auto;
    width: 40%;
    border: 3px solid grey;
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-bottom: 20px;
}

.navbar{
    background-color: rgb(70, 87, 88);
    font-family: "Optima";
}
