body {
    background-image: url("/static/content/collage.jpg");

}
#loginForm header {
  top: 100px;
  left: 150px;
  font-size: 5rem;
  font-family: Optima;
  position: absolute;
  color: white;
}

#loginForm input {
  width: 400px;
  padding: 0 20px;
  background-color: rgb(107, 154, 199);
  color: white;
}
#loginForm input,
#loginForm input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    color: white;
}

#loginForm span {
  font-size: 1.2rem;
  color: white;

}

#form a {
  color: #CEECF5;
}
#form input {
  width: 400px;
  padding: 0 20px;
  background-color: #A9D0F5;
  color: white; 

}
#form input,
#form input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    color: white; 

}
#form h1 {
    top: 200px;
    left: 550px;
    font-family: Optima;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    color: white; 
}

#form header {
    top: 120px;
    left: 620px;
    font-family: Optima;
    font-size: 5rem;
    position: absolute;
    text-align: center; 
    color: white; 
}


#both button {
  background-color: #A9D0F5;
  font-family: Optima;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: white; 

}

.center {
  margin-right: auto;
  margin-left: auto;
  width: 60%
}

.profile-header {
  text-align: center;
}

.rows {
    margin-right: auto;
    margin-left: auto;
}

.profile-info {
    margin-right: auto;
    margin-left: auto;
    border: 3px solid grey;
    background-color: white;
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-bottom: 20px;
}


.posts {
    margin-right: auto;
    margin-left: auto;
    border: 3px solid grey;
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-bottom: 20px;
    width: 30%;
}

.post .user-info {
    display: table;
}

.author-pic img {
    width: 5%;
    float: left;
}


.post .user-info .author {
    float: left;
    vertical-align: middle;
    text-align: center;
}

.posts .main-img img {
	display: block;
	margin: auto;
    width: 100%;
}

.posts .info {
    margin: 10px;
    border: 3px solid black;
    border-collapse: separate;
    border-spacing: 10px 50px;
}

.jumbotron {
    background-color: rgb(44, 83, 85);
    padding: 3%;
    font-family: "Optima";
    text-align: center;
    vertical-align: middle;
    color: white;
    border: 3px solid rgb(255, 255, 255);


}

.postButton{
	padding: 5%;
    font-family: "Optima";

}

.imgcontainer img{
	display: block;
	margin: auto;
    width: 40%;
    border: 3px solid rgb(255, 255, 255);
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-bottom: 20px;
}

.login-box{
    padding: 5%;
    font-family: "Comic Sans MS";
    align-content: center;
}

.nav.navbar-nav li a {
    color: white;
    background-color: rgb(44, 83, 85);  
    font-family: "Optima";  
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(44, 83, 85);
    border: 3px solid rgb(255, 255, 255);    
}

.dropdown-menu{background:rgba(5, 5, 5, 0.5); color:white; }

.login {
    width: 30%;
    height: 70%;
    text-align: center;
    background-color: white;
    border: 3px solid grey;
}


#loginForm .explanation {
  top: 180px;
  left: 150px;
  font-size: 2rem;
  font-family: Optima;
  position: absolute;
  color: white;

}

#loginForm .username {
  top: 300px;
  left: 150px;
  font-size: 2rem;
  font-family: Optima;
  position: absolute;
  color: white;

}

#loginForm .password {
  top: 500px;
  left: 150px;
  font-size: 2rem;
  font-family: Optima;
  position: absolute;
  color: white;

}

#loginForm .container {
  top: 630px;
  left: 150px;
  position: absolute;
  color: white;


}

#loginForm .signUp {
  top: 750px;
  left: 150px;
  position: absolute;
  color: white;

}

#form .documentation {
    font-style: italic;
    color: white; 
}

#form .information {
    top: 300px;
    left: 640px;
    font-size: 1.3rem;
    position: absolute;
    color: white; 

}
