{% extends 'layout.html' %} {% block navbar %} {{ super() }} {% endblock %} {% block body %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ name }}</h1>
    </div>
</div>
<div class="container">
    {% for post in numPost %}
        <div class="row">
            <div class="posts">
                <div class="title">
                    <em>{{titles[post]}}</em>
                    <em>title here</em>
                </div>
                <div class="main-img">
                    <img src="{{img_urls[post]}}">
                </div>
                <div class="info">
                    <div class="user-info">
                        <div class="author-pic">
                            <img src="{{source_img}}">
                        </div>
                        <div class="author">
                            <em>{{authors[post]}}</em>
                            <em>author here</em>
                        </div>
                    </div>
                    <div class="post-info">
                        <em>Score: {{scores[post]}}</em>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <li><em>There are no posts.</em>
    {% endfor %}
</div>
{% endblock %}