{% extends 'layout.html' %} {% block navbar %} {{ super() }} {% endblock %} {% block body %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ name }}</h1>
    </div>
</div>
<div class="container">
    {% for post in numPost %}
        <div class="row">
            <div class="posts">
                <div class="user-info">
                    <div class="author-pic">
                        <img src="{{source_img}}">
                    </div>
                    <div class="author">
                        <h1>author here</h1>
                    </div>

                </div>
                <div class="main-img">
                    <img src="{{img_urls[post]}}">
                </div>
            </div>
        </div>
    {% else %}
        <li><em>There are no posts.</em>
    {% endfor %}
</div>
{% endblock %}