{% extends 'layout.html' %}
{% block navbar %}
{{ super() }}   
{% endblock  %}
{% block body %}

<style type="text/css">
</style>

<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body id="form">
    <header>Create a New Account</header>
    <h1>Come join our Community! Let's set up your account! Already have one? 
    <a href="/login">Sign in here.</a></h1>
    <div class="information">        
        <input type="text" placeholder="First Name" name="uname" required>       
        <br><br>
        <input type="text" placeholder="Last Name" name="uname" required>
        <br><br>
        <input type="text" placeholder="*Username" name="uname" required>
        <br><br>
        <input type="text" placeholder="*Email" name="uname" required>
        <br><br>
        <input type="text" placeholder="*Password" name="uname" required>
        <br><br>
        <input type="text" placeholder="*Repeat Password" name="uname" required>
        <br><br> 
        <p class="documentation">"*" Indicates the required field</p>
        <div id="both"><button type="button">Submit!</button></div>
    </div>
  </body>    

{% endblock %}