{% extends 'layout.html' %}
{% block navbar %}
{{ super() }}   
{% endblock  %}
{% block body %}
  <body id="form">
    <header>Create a New Account</header>
    <h1>Come join our Community! Let's set up your account! Already have one? 
    <a href="/login">Sign in here.</a></h1>
    <div class="information">        
      <form action="/login/signup" method="POST">
        <input type="text" placeholder="First Name" name="fname" required>       
        <br><br>
        <input type="text" placeholder="Last Name" name="lname" required>
        <br><br>
        <input type="text" placeholder="*Username" name="username" required>
        <br><br>
        <input type="text" placeholder="*Email" name="email" required>
        <br><br>
        <input type="text" placeholder="*Password" name="password" required>
        <br><br>
        <input type="text" placeholder="*Repeat Password" name="password2" required>
        <br><br> 
        <p class="documentation">"*" Indicates the required field</p>
        <input class="btn btn-default" type="submit" value="submit">
      </form>
    </div>    

{% endblock %}