{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ username }}</h1>
    </div>
    <div class="col-md-4">
        <div class="container" id="info">
            <h3>{{ username }}</h3>
            <p>this is where user information goes</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container" id="posts">
            <div class="col-md-3" id="p_info">
                <p>poster information</p>
            </div>
            <div class="col-md-9">
                <div class="container" id="img">
                    <p>this is where the image will go</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}